.sign-in h3,
.sign-in div,
.sign-in input,
.sign-in label {
    width: 25vw;
    border-radius: 0.25rem;
}
.sign-in h3 {
    margin-bottom: 1rem;
}
.sign-in {
    height: 33rem;
    margin-top: 10rem;
}
#submit, #email {
    border: 1px solid var(--color-alt);
}
.sign-body {
   display: flex;
   flex-direction: column;
   row-gap: 1rem;
}
.password-container {
    background-color: var(--text-white);
    color: var(--text-black);
    display: flex;
    border-radius: 0.25rem;
    height: 2rem;
    border: 1px solid var(--color-alt);
}
.password-container svg {
    width: fit-content;
}
.fa-eye {
    cursor: pointer;
    width: 2rem;
}
#submit, #email {
    height: 2rem;
    padding: 0.25rem;
    font-size: 1rem;
}
#password {
    padding: 0.25rem;
    font-size: 1rem;
}
#submit {
    cursor: pointer;
}