.account {
    display: flex;
    width: 22.5rem;
}
.account button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: var(--text-white);
}
.account button:hover {
    text-decoration: underline;
}
.log-in {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    background-color: var(--color-main);
}
@media all and (max-width: 768px) {
    .log-in {
        height: 60rem;
    }
}
@media all and (max-width: 414px) {
    .log-in {
        height: 85rem;
    }
}

