.item-container {
    height: 42rem;
    width: 15vw;
    grid-column: 1/2;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: repeat(4, 15vw);
    grid-template-rows: repeat(4, 1fr);
    margin: 0rem;
}
.item-product {
    grid-column: 1/2;
    grid-row: 1/2;
    max-width: fit-content;
}
.price {
    grid-column: 2/3;
    grid-row: 1/2;
    max-width: fit-content;
}
.quantity {
    grid-column: 3/4;
    grid-row: 1/2;
    max-width: fit-content;
}
.total-price {
    grid-column: 4/5;
    grid-row: 1/2;
    max-width: fit-content;
}
.item-container button {
    width: 10rem;
    margin: 0rem;
    color: var(--text-white);
}
.first-item {
    grid-column: 1/5;
    grid-row: 2/3;
    width: max-content;
}
.second-item {
    grid-column: 1/5;
    grid-row: 3/4;
    width: max-content;
}
.item-button {
    height: 2rem;
    grid-column: 4/5;
    grid-row: 4/5;
    position: relative;
    left: 33rem;
    bottom: 10rem;
    background-color: var(--color-alt);
    border: none;
    border-radius: 0.25rem;
}
@media all and (max-width: 768px) {
    .item-container {
        grid-template-columns: repeat(4, 21vw);
    }
}


