.customer-cart {
    height: 55rem;
    margin-top: 1rem;
    display: grid;
}
.check-out h3, .check-out label, .check-out div {
    width: 20vw;
}
.page-wrapper {
    width: 75vw;
    margin-bottom: 15vw;
}
