* {
    width: 1440px;
    padding: 0rem;
    margin: auto;
    box-sizing: border-box;
}
:root {
    --text-white: white;
    --text-black: black;
    --error-red: red;
    --error-size: 1rem;
    --color-main: #6CABDD;
    --color-alt: #D4A12A;
}


